<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="busket-list">
   <div class="busket-main">
      <div class="h3-busket">
         <h3>Кошик</h3>
         <button (click)="btnCloseOpen()"></button>
      </div>
      <div>
         <ul *ngFor="let item of busketList.busket; let i = index" class="busket-items">
            <li style="list-style-type: none; width: 100%;">
               <div class="busket-items-inside">
                  <div>
                     <img src={{item.img}} alt="">
                  </div>
   
                  <div>
                     <span>{{item.name.slice(0, 170)}}</span>
                  </div>
   
                  <div (click)="checking($event)"> 
                     <button class="verticalDots">
                        <div class="verticalDotsMenu" style="display: none;">
                           <button (click)="deleting(i)">Прибрати</button>
                        </div>
                     </button>
                  </div>
               </div>
               <div class="busket-buttons">
                  <button class="btn btn-light" (click)="btnPlus(item)">
                     <div>+</div>
                  </button>

                  <input type="number" [value]="item.amount">

                  <button class="btn btn-light" (click)="btnMinus(item)">
                     <div class="minusBtn">-</div>
                  </button>
                  <div class="price">
                     {{calculateTotalPrice(item.price, item.amount)}}
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>