.forBody{
    // background-image: url(../../../public/sakura.png);
    position: relative;
    overflow: hidden;
    height: 100%;
    .header{
        p{
            text-align: right;
            position: absolute;
            top: 40px;
            right: 30px;
            font-size: 44px;
            // margin-top: 40px;
            border-radius: 4px;
            font-family: monospace;
            filter: drop-shadow(0px 1px 0.5px black);
        }
    }
    
    .logIn{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 110px;
    
            input{
                width: 250px;
                height: 40px;
                border: 2px solid black;
                border-radius: 7px;
            }
            
            button{
                margin-top: 20px;
                border: 1px solid white;
                background-color: lightgreen;
                color: white;
                border-radius: 5px;
                transition: all 0.2s linear;
                padding: 5px 10px 5px 10px;

                &:hover{
                    color: black;
                    border-color: black;
                }
            }
        }
    }
    
    .backToMain{
        display: flex;
        justify-content: center;
        margin-top: 120px;
        margin-bottom: 5px;
    
        .backToMainBtn{
            border: 1px solid black;
            border-radius: 3px;
            background-color: green;
            padding: 5px;
            color: white;
            transition: all 0.1s linear;
            &:hover{
                transform: scale(102%);
            }
        }
    }

    .forBgImg{
        position: absolute;
        left: 25px;
        top: 23px;
        // bottom: -200px;
        
        img{
            // width: 300px;
            // height: 300px;
            width: 410px;
            height: 100px;
        }
    }

    // @media screen and (min-width: 768px) and (max-width: 1919px) {
    //     .forBgImg{
    //         position: absolute;
    //         right: -1px;
    //         top: 0;
    //         // bottom: -200px;
            
    //         .adminBgImg{
    //             width: 300px;
    //             height: 300px;
    //             // width: 500px;
    //             // height: 430px;
    //         }
    //     }
    // }
}