<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="container-fluid">
    <div class="container">
        <div class="forms">
            <p class="additionP">{{ editingProductIndex !== null ? 'Редагування' : 'Додавання' }}</p>
            <form [formGroup]="myForm">
                <label for="itmName">Назва:</label>
                <input [style.borderColor]="nameBorder" type="text" formControlName="name" name="itmName">
                <p class="wrongVal" *ngIf="this.myForm.controls.name.errors && this.myForm.controls.name.value !== null && !this.myForm.controls.name.pristine"><span>❗</span> Тільки літери та пробіли</p>
                
                <label for="description">Опис({{symbolsLeft}}):</label>
                <textarea placeholder="від 1 до 500 символів" (input)="symbolsTrack()" maxlength="{{maxLengthDesc}}" [style.borderColor]="descBorder" name="description" formControlName="description"></textarea>
                <p class="wrongVal" style="width: 200px;" *ngIf="this.myForm.controls.description.errors && this.myForm.controls.description.value !== null && !this.myForm.controls.description.pristine"><span>❗</span> Тільки літери, числа та пробіли</p>
                <!-- <div class="symbolsTracker"> {{symbolsLeft}} </div> -->
                <label for="image">Картинка:</label>
                <input [style.borderColor]="imgBorder" placeholder="url" type="url" name="image" formControlName="img">
                <p class="wrongVal" style="width: 220px;"*ngIf="this.myForm.controls.img.errors && this.myForm.controls.img.value !== null && !this.myForm.controls.img.pristine"><span>❗</span> Не вдалось завантажити картинку</p>
                
                <label for="cost">Ціна:</label>
                <input [style.borderColor]="costBorder" placeholder="від 1 до 10 000 000" type="number" min="1" max="10000000" name="cost" formControlName="cost">
                <p class="wrongVal" style="width: 110px;"*ngIf="this.myForm.controls.cost.errors && this.myForm.controls.cost.value !== '' && !this.myForm.controls.cost.pristine"><span>❗</span> Некоректна ціна</p>
            </form>

            <button class="addBtn" [disabled]="this.myForm.status === 'INVALID'" type="submit" (click)="onSubmit2()">
                {{ editingProductIndex !== null ? 'Оновити' : 'Додати' }}
            </button>
        </div>

        <div class="history">
            <p class="totalP">Історія | Всього: {{products.length}}</p>
            <div *ngFor="let item of products; let i = index">
                <div class="historyItem">
                    <img [src]="item.img" alt="{{item.name}}">
                    <p>{{item.name}}</p>
                    <div class="optionsOnItem">   
                        <img class="editImg" src="/pencil.png" (click)="onEdit(item, i)" alt="#">
                        <button (click)="onDelete(i)">Видалити</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

</div>