.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    .forms{
        width: 470px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border: 1px solid green;
        box-shadow: 0px 0px 1px green;
        border-radius: 7px;

        .additionP{
            font-size: 17px;
            text-align: center;
            margin-top: 4px;
        }
        form{
            display: flex;
            flex-direction: column;
            transition: all 0.2s linear;
            margin-top: -10px;
    
            .wrongVal{
                color: red;
                text-align: left; 
                display: flex;
                align-items: center;
                justify-content: space-around; 
                width: 160px;
                span{
                    font-size: 13px;
                }
            }
    
            label{
                margin-top: 10px;
            }
            
            input, textarea{
               width: 370px;
               border: 2px solid green;
               border-radius: 3px;
            }
    
            .symbolsTracker{
                position: absolute;
                top: 80px;
                right: 540px;
                font-size: 13px;
            }
        }
    
        .addBtn{
            border: 1px solid black;
            border-radius: 3px;
            background-color: green;
            color: white;
            text-transform: uppercase;
            padding: 5px;
            width: 100px;
            margin-top: 20px;
            transition: all 0.1s linear;
            cursor: pointer;
    
            &:hover{
                background-color: white;
                border-color: green;
                color: black;
            }
        }
        
    }

    .history{
        border: 1px solid green;
        box-shadow: 0px 0px 1px green;
        border-radius: 7px;
        width: 500px;
        height: 550px;
        overflow: auto;

        .totalP{
            font-size: 17px;
            text-align: center;
            margin-top: 4px;
        }
        .historyItem{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            img{
                width: 70px;
                height: 70px;
            }
            p{
                font-size: 10px;
                margin-left: 5px;
            }
            button{
                border: 1px solid red;
                border-radius: 5px;
                background-color: red;
                color: white;
                width: 50px;
                height: 30px;
                transition: all 0.1s linear;
                font-size: 10px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                    background-color: darkgoldenrod;
                    border-color: darkgoldenrod;
                }
            }
        }
        hr{
            background-color: green;
            height: 1px;
        }
    }
}