<div class="goodList-item">
   <div class="goodList-button" [routerLink]="['/item', index]">
      <img [src]="img">
   </div>
   <div class="goodList-name" style="font-size: 13px; margin: 20px 0px; width: 230px; height: 50px;">
      <div *ngIf="name.length > 75">
         {{ SmallerName() }}
      </div>
      <div *ngIf="name.length < 75">
         {{name}}
      </div>
   </div>
   <div class="goodList-price">
      <span>{{price}}</span>
      <button>
         <img [src]="ButtonTF ? ButtonCheckedUrl : ButtonPlusUrl" alt="" (click)="PressButtonCart()">
      </button>
   </div>
</div>